<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="../static_css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center border-bottom">
      <h1 class="font-weight-bold">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="../scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><b>Latest Mars News</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4><b>{{mars_data.news_title}}</b></h4>
        <p>{{mars_data.news_description}}</p>
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-md-8 border">
        <h2><b>Featured Mars Image</b></h2> 
        <img src="{{mars_data.featured_url}}" style="width:100%;height:100%;" alt="Features Mars Image">
      </div>
      <colgroup>
      <div class="row">
        <div class="col-md-4">
          <br>
          <br>
          <br>
          <br>
          <h3><b>Mars Facts</b></h3>

          <p>{{mars_data.mars_facts | safe}}</p>
        </div>
      </colgroup>
      </div>
    </div>
  <hr>
  <div class="col-lg-12">
    <div class="row"; style="text-align: center;">
      <h2><b><u>Mars Hemispheres</b></u></h2>  
    </div>
  </div>
  <br>
  <div class="row" >       
    {% for hemisphere in mars_data.hemisphere_images %} 
    <div class="col-md-6 border">
    <br>
      <div style="text-align: center; margin:10px;">
        <img width="400 px" height="400 px", src="{{ hemisphere.img_url | safe }}" class="mx-auto d-block" alt="...">
      </div>

      <div  style="text-align: center;">
        <h4> {{ hemisphere.title | safe }} </h4>  
      </div>
  
    </div>
    {% endfor %}
  </div> 
</div> 
 
</body>

</html>